@import '../../../variable.scss';

.title-block{
  width: 100%;
  background: rgba(0, 0, 0, 0.404) url(../../../assets/images/blog-4.jpg) center/ cover no-repeat ;
  color: $white;
  padding: 150px 10% 100px 10%;
  margin-bottom: 50px;
}
