/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
html, body{
  box-sizing: border-box;
  // font-family: 'Grandstander', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 115%;
}
